# ======================================================
# Virtuelle Umgebung
# ======================================================
venv/
.venv/

# ======================================================
# Sicherheit (Verhindert Upload der API-Keys)
# ======================================================
.env

# ======================================================
# Python-Interne Cache-Dateien (Unnötiger Datenmüll)
# ======================================================
__pycache__/
*.py[cod]